[submodule "LumeBase"]
	path = LumeBase
	url = https://github.com/yangfei1223/LumeBase.git
[submodule "LumeEngine"]
	path = LumeEngine
	url = https://github.com/yangfei1223/LumeEngine.git
[submodule "LumeRender"]
	path = LumeRender
	url = https://github.com/yangfei1223/LumeRender.git
[submodule "Lume3D"]
	path = Lume3D
	url = https://github.com/yangfei1223/Lume3D.git
